# requirements.txt
APScheduler==3.11.0
asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.6
djangorestframework==3.15.2
idna==3.10
IP2Location==8.10.5
requests==2.32.3
pycountry==24.6.1
python-dotenv==1.0.0
sqlparse==0.5.3
tzdata==2025.1
tzlocal==5.3.1
urllib3==2.3.0
timezonefinder==6.5.8
user-agents==2.2.0
whitenoise
gunicorn